PORT=number
CLIENT_ORIGIN=http://localhost:Whatever
DATABASE_URL="postgresql://USERNAME:PASSWORD@localhost:Whatever/DATABASE_NAME?schema=public"
POSTGRES_USER=USERNAME
POSTGRES_PASSWORD=PASSWORD
POSTGRES_DB=Whatever